li {
    list-style-type: none;
}

body {
    font-family: 'Merienda';
}

header a {
   font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 17px;

color: #ff9595;
}

h1 {
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;

color: #ff9595;
}

.title {
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;

color: #ff9595;
}